﻿

    <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Create New Card</div>
      <div class="panel-body">
          <div class="row">
              <div class="col-md-6">
                    <div class="form-group">
                        <label>Title:</label>
                        <input type="text" class="form-control" ng-model="homeVM.newCard.title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" class="form-control" ng-model="homeVM.newCard.description" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label>Estimate:</label>
                        <select autofocus class="form-control" id="nstatus" ng-model="homeVM.newCard.estimate" >
                                <option ng-repeat="sta in homeVM.estimates track by $index" value="{{sta}}"> {{sta}}</option>
                            </select>
                    </div>
                    <<button class="btn btn-success col-md-12" ng-click="homeVM.createNewCard()">Create New Card</button>
               </div>
               <div class="col-md-6">
                    <div class="form-group">
                        <label>WIP Threshold:</label>
                        <input type="number" class="form-control" ng-model=" homeVM.WIP" placeholder="WIP Threashold">
                    </div>
                    <h2>Assumptions</h2>
                    <p>Max value of Estimate is 10.</p>
                    <p>WIP threshold is set to 10 initially, but can be changed.</p>
                    <p>WIP threshold is only applicable for InProgress column.</p>
                    <p>Since there is no DB, there are some hardcoded values and also no persistance of data.</p>
               </div>
          </div>
      </div>
    </div>

        <div class="row">
            <div ng-repeat="(status,cards) in homeVM.cards | groupBy: 'status.name'" >

                <div class="col-md-4 cardColumn">
                <h2>{{status}}<span ng-if="cards[0].status.Id == 3"> | Velocity {{homeVM.calculateVelocity(cards)}}</span></h2>
                    <div class="col-md-12" ng-repeat="card in cards track by $index">
                        <div class="card" ng-style="{'background': card.status.color}">
                            <h3 class="buttonlabel titleLable"> {{card.title}} <span class="label label-default">{{card.estimate}}</span></p>
                            <h2 class="buttonlabel descriptionLabel"> {{card.description}}</p>
                            <select autofocus class="form-control" id="nstatus" ng-model="card.status.name" ng-change="homeVM.updateStatus(card)">
                                <option ng-repeat="sta in homeVM.status track by $index" value="{{sta.name}}"> {{sta.name}}</option>
                            </select>
                            <button class="btn btn-warning" ng-click="homeVM.undoStatus(card)" ng-if="card.oldStatus">Undo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<hr>
<hr>
    </div>


