﻿/* app css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body{

  color: white;
}
h2, p{
  color: #286090;
}
label {
color: #286090;
}
.cardColumn{
  background: transparent;
    border: 2px solid #6f6f6b;
    border-radius: 6px;

}
.card {

    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    margin-bottom:25px;
    padding: 10px;
    
}
.buttonlabel {
    padding-top:10px;
    font-size: 20px;
    color: black;
}
 .titleLable{
  border-bottom: 1px solid white;
  text-align: center;
 }
 .descriptionLabel{

 }

 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: #286090;
}
.modal-footer{
background: #286090;

}
.navbar-default .navbar-nav>li>a {
    color: white;
    border-bottom: 2px solid #286090;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
    border-bottom: 2px solid white;
}

.blackfont{
  color: black !important;

}
.blackfont:hover{
  color: white !important;

}
#logo > img
{
  height:50px;
  width: 50px;
  border-radius: 50%;

}
.hidepanal{
  margin-top: 200px;
}