﻿<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
 <!--<![endif]-->
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DiUS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="app.css">
    <style id="style-1-cropbar-clipper">

        .en-markup-crop-options {
            top: 18px !important;
            left: 50% !important;
            margin-left: -100px !important;
            width: 200px !important;
            border: 2px rgba(255, 255, 255, .38) solid !important;
            border-radius: 4px !important;
        }

            .en-markup-crop-options div div:first-of-type {
                margin-left: 0px !important;
            }
    </style>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-app="Dius" ng-cloak>
    <!-- Nav Bar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">

            <!-- note the ng-init and ng-click here: -->
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--logo-->
            <div id="logo_container" href="/">
                <div id="logo">
                    <!--<div class="head">-->
                    <!--<div class="ant ant_left"></div>-->
                    <!--<div class="ant ant_right"></div>-->
                    <!--<div class="lefteye"></div>-->
                    <!--<div class="righteye"></div>-->
                    <!--</div>-->
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAJVAAAAJGI3ZTQxNWU5LTI4YTAtNGEwMi1hY2YxLTVlOTJmZTVkZmFhYQ.jpg" alt="Logo">
                </div>
            </div>

            <!--logo-->
        </div>

        <!--menu items-->
        <div class="uib-collapse navbar-collapse" uib-collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="home" ><i class="fa fa-home fa-fw"></i> Home</a></li>

                
                <li><a href="users"><i class="fa fa-users fa-fw"></i> Users</a></li>

            </ul>

            <!--</ul>-->
        </div>
    </nav>
    <div class="col-md-12">
        <toaster-container></toaster-container>
    </div>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-view class="col-md-12">
        <!-- ngRepeat: alert in alerts -->
        
    </div>
    <!-- Main Body for SPA -->
    <div id="contents">
        <!-- ngView:  -->
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>

    <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.3.7"></script>
    <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.3.7"></script>
    <script src="//mgcrea.github.io/angular-strap/docs/angular-strap.docs.tpl.js" data-semver="v2.3.7"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>


    <script src="app.js"></script>


    <!--moduleHome-->
    <script src="moduleHome/homeController.js"></script>
    <script src="moduleHome/homeService.js"></script>
</body>

<footer class="modal-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-6 modal-footer-left blackfont"></div>
          
        <div class="col-md-6">
            Rohith Poyyeri |
            <a href="mailto:rohithart@yahoo.com" target="_top" class="blackfont">
                <i class="fa fa-envelope-o"></i> Developer
            </a> |
            <a href="tel:+61426622552" class="blackfont"><i class="fa fa-phone"></i> Phone</a>
        </div>
    </div>
</footer>
</html>
